.h{
  font-size: 3rem;
  font-family: monospace;
  text-align: center;
  margin: auto;
  color: #002B5B;
  padding-top: 2%;
}
.container{
  text-align: center;
}
.row{
  text-align: center;
  margin: auto;
  padding: 15px;
}
.button{
  padding: 20px;
  border-radius: 30%;
  box-shadow: 10px 10px 8px #ABC270;
  font-size: 20px;
  cursor: pointer;
  margin: 2px 2px 2px 2px;
}
.input{
  border-radius: 5%;
  box-shadow: 10px 10px 8px #4F4557;
  font-weight: bold;
  font-size: 1.1rem;

}
.rowt{
 padding-bottom: 2%;
}
